<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="pull-left" data-role="component" data-name="goback" data-display="inline" />
    <a class="navbar-brand" href="#">App</a>

    <button type="button" class="btn btn-default navbar-btn pull-right btn-toggle-menu">
      <i class="fa fa-bars fa-lg"></i>
    </button>
  </div>
</div>

