<h3>{{from_server.message}}</h3>

<p>
Local Time:
<span id="clock_time">{{data.time}}</span>
</p>

<p>
Message:
<span id="random_text">{{data.text}}</span>
</p>

<p>
  <button class="btn btn-default" id="btn-basic">Click!</button>
</p>

