<div class="navbar-header">
  <a class="navbar-brand" href="#">{{brand}}</a>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
  {{#menu_list}}
  <li>
    <a href="#{{link}}">{{name}}</a>
  </li>
  {{/menu_list}}
  </ul>
</div>
