<p>
Pin a fixed-height footer to the bottom of the viewport in
desktop browsers with this custom
<strong>{{static.html}}</strong> and <strong>{{static.css}}</strong>.
</p>

<p>
Local Time:
<span id="clock_time">{{shared.time}}</span>
</p>

<p>
Message:
<span id="random_text">{{shared.text}}</span>
</p>

