<p>
Pin a fixed-height footer to the bottom of the viewport in
desktop browsers with this custom
<strong><%= static.html %></strong> and <strong><%= static.css %></strong>.
</p>

<p>
Local Time:
<span id="clock_time"><%= time %></span>
</p>

<button class="btn">click me</button>

