{{#stop}}
{{/stop}}
{{^stop}}

<div class="box-gr box-gr-holder" style="width:{{width1}}; height:{{height1}}">
  <div data-role="component" data-name="golden_ratio"></div>
</div>
<div class="box-gr box-gr-spliter" style="width:{{width2}}; height:{{height2}}"></div>
<div class="box-gr box-gr-holder" style="width:{{width3}}; height:{{height3}}">
  <div data-role="component" data-name="golden_ratio"></div>
</div>

{{/stop}}
