<div f-component="nested_external_file"></div>
<div f-component="nested_inside_dom"></div>

{{=<% %>=}}

<template id="template_nested_inside_dom">
  <strong>{{name}}<strong>
</template>

<%={{ }}=%>

