<div class="my-page">

<ul class="list-group">
  <a/>
  <a class="list-group-item btn-item" href="#home">Home</a>
  <a class="list-group-item btn-item" href="#settings">Settings</a>
  <a/>
</ul>

</div>
