<div class="jumbotron">
  <div class="container">
    <h1>Divide and Conquer</h1>
    <p>
      <strong>FractalJS</strong> is a Front-end Javascript Library to
      Help Breaking a Large Web Application into Small Parts
      and Organize Them Together.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Build App Like a Fractal</h3>
      <p>
        FractalJS gives an answer to the web development under the theory of "Dived and Conquer" -
        Any application is made up of small features, rendering and DOM event handling
        of sub-features can be recusively repeated and combined to make the whole application
        working.
      </p>
    </div>
    <div class="col-md-4">
      <h3>It is Simple</h3>
      <p>
        FractalJS only provide the functions for what you need to create sub-features and
        to load them together.
        Written in pure javascipt and with only a few user APIs provided,
        FractalJS leaves almost full freedom to use any other libraries.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Not MVC ?</h3>
      <p>
        We just want to demonstrate a different approach of building web applications.
        FractalJS is more a way of thinking than itself.
        It is all about how to coordinate simple things to perform a complicated behavior.
      </p>
    </div>
  </div>

  <hr>

  <div data-role="component" data-name="example_list"></div>

</div>
