<div class="container">
  <div class="jumbotron">
    <div data-role="component" data-name="MDBody" data-mdname="jumbotron"></div>
    <div class="pull-right">* <i>The whole website is built with FractaJS.</i></div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div data-role="component" data-name="MDBody" data-mdname="heading1"></div>
    </div>
    <div class="col-md-4">
      <div data-role="component" data-name="MDBody" data-mdname="heading2"></div>
    </div>
    <div class="col-md-4">
      <div data-role="component" data-name="MDBody" data-mdname="heading3"></div>
    </div>
  </div>

  <hr>

  <div data-role="component" data-name="demo_list"></div>

</div>
