<div data-role="component" data-name="{{componentName}}"></div>

{{=<% %>=}}

<script type="text/template" id="template-form">
  <form class="form-inline" role="form">
    <input type="text" class="form-control" id="input-name" placeholder="Input your name"></input>
    <button class="btn btn-default" id="btn-login">Login</button>
  </form>
</script>

<script type="text/template" id="template-hello2">
  <div data-role="component" data-name="hello"></div>
  <button class="btn btn-default" id="btn-logout">Logout</button>
</script>

<%={{ }}=%>
