<div f-component="gitrepo_branches"></div>

<div f-component="gitrepo_commits"></div>

{{=<% %>=}}

<template id="template_gitrepo_branches">
  <h5>BRANCHES</h5>
  {{#branches}}
  <span f-component="gitrepo_branch_name" data-br="{{name}}"></span>
  {{/branches}}
</template>

<template id="template_gitrepo_commits">
  <h5>COMMITS</h5>
  <ul>
    {{#commits}}
    <li>
      <a href="{{html_url}}" target="_blank" class="commit">{{sha}}</a>
      - <span class="message">{{commit.message}}</span><br>
      by <span class="author">{{commit.author.name}}</span>
      at <span class="date">{{commit.author.date}}</span>
    </li>
    {{/commits}}
  </ul>
</template>

<%={{ }}=%>

