<table class="table">
  <thead>
    <tr>
      <th>Actor</th>
      <th>Action</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {{#activities}}
    <tr>
      <td>{{actor.login}}</td>
      <td>{{desc}}</td>
      <td>{{created_at}}</td>
    </tr>
    {{/activities}}
  <tbody>
</table>
