<h3>Github Activities</h3>
<table class="table">
<thead>
<tr>
<th>Type</th>
<th>Actor</th>
<th></th>
</tr>
</thead>
<tbody>
{{#activities}}
<tr>
  <td>{{type}}</td>
  <td>{{actor.login}}</td>
  <td></td>
</tr>
{{/activities}}
<tbody>
</table>
